.evalwf-title,
.evalwf-element-description,
.evalwf-element-table-header,
.evalwf-element-table-header-item,
.evalwf-element-table-body,
.evalwf-element-table-row,
.evalwf-element-table-row-answer,
.evalwf-input-text,
.evalwf-conditions,
.evalwf-conditional-item {
}

.evalwf-content {
  padding: 10px;
}

.evalwf-elements {
  padding: 10px;
}

.evalwf-element-container {
  border: 1px solid #aaa;
}

.evalwf-element-container > summary {
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
}

div.evalwf-subtotal {
  padding: 10px;
  padding-bottom: 20px;
  text-align: right;
}
p.evalwf-subtotal {
  padding:0;
  margin:0;
  font-weight: bold;
  font-size: 17px;
}

.evalwf-element-title {
  font-size: 17px;
  padding: 5px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.evalwf-element-table {
  padding: 10px;
  width: 100%;
}

.evalwf-element-table-header-item {
  background-color: #aaa;
  border-bottom: 1px solid #aaa;
}

.evalwf-element-table-footer {
  font-weight: bold;
}
.evalwf-element-table-footer-item {
  border-top: 1px solid #aaa;
  text-align: right;
}

.evalwf-element-table-row-selected {
    width: 5%;
}

.evalwf-element-table-row-order {
    width: 5%;
}

.evalwf-element-table-row-points,
.evalwf-element-table-row-isgood {
    width: 15%;
}

.evalwf-element-table-row-question {
    padding-left: 20px;
    font-style: italic;
}
