{#
/**
 *  @file evalwf-resultpage.html.twig
 *
 *  @variables:
 *    - settings:      standard items of the result page
 *    - elements:   webform element and its points in an array
 *    - conditions: conditional link results
 */
#}

{% macro process_elements(elements) %}
  {% for element in elements %}
    {% if element.type in [ 'container', 'details', 'fieldset' ] %}
      <details class="evalwf-element-container" open><summary>{{ element.title }}</summary>
        {% if element.children %}
           {{ _self.process_elements(element.children) }}
        {% endif %}
      </details>
      <div class="evalwf-subtotal">
        <p class="evalwf-subtotal">{{ element.subtotal }}</p>
      </div>
    {% else %}
      <h3 class="evalwf-element-title">{{ element.title }}</h3>
{#
      /** <p>{{ element.type }}</p>  */
#}
      {% if element.description %} <p class="evalwf-element-description">{{ element.description }}</p> {% endif %}
      {% if element.header %}
        <table class="evalwf-element-table">
          <thead class="evalwf-element-table-header">
            <tr class="evalwf-element-table-header">
              {% for item in element.header %}
                {% if item is iterable %}
                  <th class="evalwf-element-table-header-item"{{ item.attributes }}>{{ item.data }}</th>
                {% else %}
                  <th class="evalwf-element-table-header-item">{{ item }}</th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody class="evalwf-element-table-body">
            {% for row in element.rows %}
              <tr class="evalwf-element-table-row">
                {% if row.question %}
                  {% if row.question is iterable %}
                    <td class="evalwf-element-table-row-question"{{ row.question.attributes }}>{{ row.question.data }}</td>
                  {% else %}
                    <td class="evalwf-element-table-row-question">{{ row.question }}</td>
                  {% endif %}
                {% else %}
                  {% if row.order %}
                    <td class="evalwf-element-table-row-order">{{ row.order }}</td>
                    <td class="evalwf-element-table-row-answer">{{ row.answer }}</td>
                    <td class="evalwf-element-table-row-isgood">{{ row.isgood }}</td>
                  {% else %}
                    <td class="evalwf-element-table-row-selected">
                      <input type="checkbox" {% if row.selected %}checked{% endif %} disabled class="evalwf-element-table-row-checkbox">
                    </td>
                    <td class="evalwf-element-table-row-answer">{{ row.answer }}</td>
                    <td class="evalwf-element-table-row-points">{{ row.points }}</td>
                  {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
          <tfoot class="evalwf-element-table-footer">
            <tr class="evalwf-element-table-footer">
              {% for item in element.footer %}
                {% if item is iterable %}
                  <td class="evalwf-element-table-footer-item"{{ item.attributes }}>{{ item.data }}</td>
                {% else %}
                  <td class="evalwf-element-table-footer-item">{{ item }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </tfoot>
        </table>
      {% else %}
        <div class="evalwf-input-text">
          <p class="evalwf-input-text">{{ element.text }}</p>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}

<h1 class="evalwf-title">{{ settings.title }}</h1>
<div class="evalwf-content">{{ settings.html }}</div>
<div class="evalwf-elements">{{ _self.process_elements(elements) }}</div>
<div class="evalwf-conditions">
  {% for item in conditions %}
      <p class="evalwf-conditional-item"><a href="{{ item.url }}">{{ item.title }}</a></p>
  {% endfor %}
</div>

